{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Developement Server",
      "url": "https://gextra6dev.raphaelpiccolo.com/appli/capretraite"
    },
    {
      "description": "Production Server",
      "url": "https://gextra.net/appli/capretraite"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/login": {
        "post": {
            "description": "Returns to access to all routes",
            "requestBody": {
              "description": "Login",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Login"
                  }
                }
              },
              "required": true
            },
            "responses": {
                "200": {
                    "description": "Permet d'obtenir le token d'authentification",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Token"
                                }
                            }
                        }
                    }
                },
                "400": {
                    "description": "Unexpected error",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginError"
                            }
                        }
                    }
                }
            }
        }
    },
    "/orientation": {
      "post": {
        "description": "Envoi d’orientation CR > Résidence",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orientation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOrientation"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Messagetraitements":{
                    "$ref": "#/components/examples/Messagetraitements"
                  },
                  "MessageProblemes": {
                    "$ref": "#/components/examples/MessageProblemes"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "schemas": {
      "Login": {
        "required": [
          "login",
          "hash"
        ],
        "type": "object",
        "properties": {
          "login": {
            "description": "Login que vous avez reçu",
            "type": "string"
          },
          "hash": {
            "description": "Mot de pass crypté que vous généré grâce au mot de passe et au cryptage reçu",
            "type": "string",
            "format": "password"
          }
        }
      },
      "Orientation": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "Token": {
        "required": [
          "token",
          "login"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "login": {
            "type": "string"
          }
        }
      },
      "ResponseOrientation": {
        "required": [
          "NumeroDemandeOrientationCR",
          "NumeroDemandeOrientationRES"
        ],
        "type": "object",
        "properties": {
          "NumeroDemandeOrientationCR": {
            "type": "string"
          },
          "NumeroDemandeOrientationRES": {
            "type": "string"
          },
          "MessageProblemes": {
            "type": "string"
          },
          "Messagetraitements": {
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "LoginError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "required": [
              "login1"
            ],
            "type": "object",
            "properties": {
              "login1": {
                "type": "string"
              }
            }
          }
        ]
      }
    },
    "exemples": {
      "MessageProblemes" : {
        "summary": "Retour en cas de problème,7 cas possibles",
        "value": {
          "[ER001]" : "Problème Technique",
          "[ER002]" : "Refus Doublon",
          "[ER003]" : "Champ Obligatoire manquant : Liste des champs manquants.",
          "[ER004]" : "Établissement inconnu du CRM. Vérifiez le code",
          "[ER005]" : "La demande n’a pas pu être retrouvée pour une mise à jour",
          "[ER006]" : "Type de transmission inconnue. Valeurs autorisées : 'CREATION', 'MAJ'"
        },
        "Messagetraitements": {
          "summary": "Retour en cas de traitement OK, 2 cas possibles",
          "value": {
            "[TR001]": "Création OK",
            "[TR002]": "MAJ OK"
          }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}